@font-face {
  font-family: 'GmarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: 300;
  font-style: light;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 500;
  font-style: medium;
}
@font-face {
  font-family: 'GmarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'LINESeedKR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Bd.woff2') format('woff2');
  font-weight: 700;
  font-style: bold;
}
@font-face {
  font-family: 'LINESeedKR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Rg.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'LINESeedKR';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/LINESeedKR-Th.woff2') format('woff2');
  font-weight: 100;
  font-style: light;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Pretendard, -apple-system, BlinkMacSystemFont, 'Noto Sans',
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Helvetica Neue',
    sans-serif;
  font-weight: 400;
  color: #000;

  word-break: keep-all;
  word-wrap: break-word;
  box-sizing: border-box;
}

/* CSS RESET */
*,
::after,
::before {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

a {
  padding: 0;
  text-decoration: none;
  box-shadow: none;
  outline: none;
}

ul,
li {
  list-style: none;
}

img {
  border: 0;
}

button {
  background-color: transparent;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
  font: inherit;
}

input {
  text-decoration: none;
  background-color: none;
  outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: 0 0 0px 1000px transparent inset;
  -webkit-transition: background-color 9999s ease-out;
  transition: background-color 5000s ease-in-out 0s;
}

textarea {
  resize: none;
  border: none;
  outline: none;
}

select {
  background: none;
  outline: none;
  border-radius: 0;
  cursor: pointer;
  -moz-appearance: none;
  -webkit-appearance: none;
}
